body {
  background: #FFFFFF;
  padding: 10px;
  font-size: 100%;
  line-height: 200%;
}

h1 {
    font-size: 22px;
}
div.info {
    color: #F37022;
    font-size: 18px;
}


span.tag {
    display: none;
}



p {
    font-size: 18px;
    color: #444444;

}

img {
    max-width: 100%;
    height: auto;

    /*  Add shadows to create the "card" effect */
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 2px;

}



div.abstract {
    padding: 8px;
    background: #EEEEEE;

}