body {
  background: #FFFFFF;
  padding: 8px;
  font-size: 100%;
  line-height: 200%;
}

h1 {
    font-size: 22px;
}
div.info {
    color: #F37022;
    font-size: 18px;
}


span.author {
    display: none;
}


p {
    font-size: 18px;
    color: #444444;

}

img {
    max-width: 100%;
    height: auto;
}

div.abstract {
    padding: 8px;
    background: #EEEEEE;

}